{% extends 'layout.html' %}

{% block main %}
    <div class="container mb-5">
      
        <div class="content-section">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>   
                    <!-- Site name -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.course_name.label(class='form-control-label') }}
                                {% if form.course_name.errors %}
                                    {{ form.course_name(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.course_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.course_name(class='form-control') }}
                                {% endif %}
                            </div>
                            <!-- Level required -->
                            <div class="form-group">
                                {{ form.level.label(class='form-control-label') }}
                                {% if form.level.errors %}
                                    {{ form.level(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.level.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.level(class='form-control') }}
                                {% endif %}
                            </div>            
                            <!-- Age -->
                            <div class="form-group">
                                {{ form.age.label(class='form-control-label') }}
                                {% if form.age.errors %}
                                    {{ form.age(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.age.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.age(class='form-control') }}
                                {% endif %}
                            </div>            
                            <!-- Duration -->
                            <div class="form-group">
                                {{ form.duration.label(class='form-control-label') }}
                                {% if form.duration.errors %}
                                    {{ form.duration(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.duration.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.duration(class='form-control') }}
                                {% endif %}
                            </div>     
                            <!-- Price E-Learning -->
                            <div class="form-group">
                                {{ form.price_e_learning.label(class='form-control-label') }}
                                {% if form.price_e_learning.errors %}
                                    {{ form.price_e_learning(class='form-control is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.price_e_learning.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.price_e_learning(class='form-control') }}
                                {% endif %}
                            </div>  
                        </div>                                  
                        <div class="col-md-6">
                            <!-- Price Book Learning -->
                            <div class="form-group">
                                {{ form.price_book_learning.label(class='form-control-label') }}
                                {% if form.price_book_learning.errors %}
                                    {{ form.price_book_learning(class='form-control is-invalid', rows='10') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.price_book_learning.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.price_book_learning(class='form-control', rows='10') }}
                                {% endif %}
                            </div> 
                            <!-- Pool Dives -->
                            <div class="form-group">
                                {{ form.pool_dives.label(class='form-control-label') }}
                                {% if form.pool_dives.errors %}
                                    {{ form.pool_dives(class='form-control is-invalid', rows='10') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.pool_dives.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.pool_dives(class='form-control', rows='10') }}
                                {% endif %}
                            </div> 
                            <!-- Ocean Dives -->
                            <div class="form-group">
                                {{ form.ocean_dives.label(class='form-control-label') }}
                                {% if form.ocean_dives.errors %}
                                    {{ form.ocean_dives(class='form-control is-invalid', rows='10') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.ocean_dives.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.ocean_dives(class='form-control', rows='10') }}
                                {% endif %}
                            </div> 
                            <!-- Min Dives -->
                            <div class="form-group">
                                {{ form.min_dives.label(class='form-control-label') }}
                                {% if form.min_dives.errors %}
                                    {{ form.min_dives(class='form-control is-invalid', rows='10') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.min_dives.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.min_dives(class='form-control', rows='10') }}
                                {% endif %}
                            </div> 
                            <!-- Qualified To -->
                            <div class="form-group">
                                {{ form.qualified_to.label(class='form-control-label') }}
                                {% if form.qualified_to.errors %}
                                    {{ form.qualified_to(class='form-control is-invalid', rows='10') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.qualified_to.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.qualified_to(class='form-control', rows='10') }}
                                {% endif %}
                            </div> 
                            <!-- Image -->
                            <div class="form-group">
                                {{ form.image.label() }}  
                                {{ form.image(class='form-control-file') }}
                                {% if form.image.errors %}
                                    {% for error in form.image.errors %}
                                        <span class="text-danger">{{ error }}</span><br>
                                    {% endfor %}
                                {% endif %}
                            </div>   
                        </div>    
                    </div>     
                    <div class="form-row">
                        <div class="col-md-6">
                            <!-- Basic Info -->
                            <div class="form-group">
                                {{ form.basic_info.label(class='form-control-label') }}
                                {% if form.basic_info.errors %}
                                    {{ form.basic_info(class='form-control is-invalid', rows='20') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.basic_info.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.basic_info(class='form-control', rows='20') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Schedule -->
                            <div class="form-group">
                                {{ form.schedule.label(class='form-control-label') }}
                                {% if form.schedule.errors %}
                                    {{ form.schedule(class='form-control is-invalid', rows='20') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.schedule.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.schedule(class='form-control', rows='20') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>                            
                              
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>        
            </form>
        </div>   
        
    </div>
    
{% endblock %}