{% extends 'layout.html' %}

{% block main %}
    <div class="container mb-5">         
        <div class="content-section">
            <!-- Top user profile pic and name -->
            <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body">
                    <h2 class="">{{ current_user.username }}</h2>   
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>
            </div>
            <!-- User form to update info -->
            <!-- Remember enctype for picture -->
            <form action="" method="POST" enctype="multipart/form-data"> 
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Info</legend>
                    <div class="form-group">                        
                        {{ form.username.label(class='form-control-label') }}    
                        {% if form.username.errors %}
                            {{ form.username(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>    
                        {% else %}
                            {{ form.username(class='form-control form-control-lg') }}
                        {% endif %}                        
                    </div>
                    <div class="form-group">    
                        {{ form.email.label(class='form-control-label') }}    
                        {% if form.email.errors %}
                            {{ form.email(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class='form-control form-control-lg') }}
                        {% endif %}    
                    </div>                    
                </fieldset>
                <!-- Update user profile picture field -->
                <div class="form-group">
                    {{ form.picture.label() }}  
                    {{ form.picture(class='form-control-file') }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
            </form>
            <div>
                <h5>Create a New:</h5>
                <a class="btn btn-outline-success" href="{{ url_for('posts.new_post') }}">Post</a>
                <a class="btn btn-outline-success" href="{{ url_for('sites.new_site') }}">Dive Site</a>
                <!-- <a class="btn btn-outline-success" href="{{ url_for('posts.new_post') }}">Course</a> -->
            </div>
        </div>
    </div>
    
{% endblock %}
